{#
/**
 * @file
 * Video Filter (Flash).
 *
 * @deprecated in video_filter:8.x-1.3 and is removed from video_filter:2.0.0. No replacement provided.
 *
 * @see https://www.drupal.org/project/video_filter/issues/3433260
 */
#}
<div class="video-filter">
  <object class="{{ video.classes|join(' ') }}" type="application/x-shockwave-flash" {% if video.width %}width="{{ video.width }}"{% endif %} {% if video.height %}height="{{ video.height }}"{% endif %} data="{{ video.flash.src }}"{% for key, value in video.flash.properties %} {{ key }}="{{ value }}"{% endfor %}>
    {% for key, value in video.flash.params %}
    <param name="{{ key }}" value="{{ value }}" />
    {% endfor %}
  </object>
</div>
